<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IBook</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/home-style.css" />
  </head>
  <body>
    <header>
      <nav id="nav-bar">
        <div id="brand">
          <img src="images/book.png" alt="book-image" />
          <h5>IBook</h3>
        </div>
        <ul id="menu">
          <a href="registerClients.html"><li>Cadastrar Cliente</li></a>
          <a href=""><li>Cadastrar Livro</li></a>
        </ul>
      </nav>
    </header>
  </body>
</html>
