<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IBook</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/home-style.css" />
  </head>
  <body>
    <header>
      <nav id="nav-bar">
        <ul id="menu">
          <a href="registerClient.html"><li>Gerenciar Clientes</li></a>
          <a href=""><li>Cadastrar Livro</li></a>
        </ul>
      </nav>
    </header>
    <div id="brand">
      <div class="brand-name">
        <h1>IBook</h1>
        <h3>Gerenciando sua biblioteca</h3>
      </div>
      <img src="images/book.png" alt="book-image" />
    </div>
  </body>
</html>
