<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IBook</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/c668a15bf6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/list-clients.css" />
  </head>
  <body>
    <header>
      <nav id="nav-bar">
        <div id="brand">
          <a href="index.html"><img src="images/book.png" alt="book-image" /></a>
          <h5>IBook</h3>
        </div>
        <ul id="menu">
          <a href="registerClient.html"><li>Cadastrar Cliente</li></a>
          <a href="listClients.html"><li id="actual">Listar Clientes</li></a>
        </ul>
      </nav>
    </header>

    <div class="search-input">
      <label for="clienteNome">Cliente:</label>
      <input class="client-name-search" type="text" name="clienteNome" placeholder="Busque pelo nome do cliente">
      <button class="btn btn-secundary buttons-style" onclick="return searchClientByName()">Buscar <i class="fas fa-search"></i></button>
    </div>

    <div class="table-container">
        <table>
          <thead>
            <th>Nome</th>
            <th>Telefone 1</th> 
            <!-- <th>Telefone 2</th> -->
            <th>Rua</th>
            <th>Número</th>
            <th>Bairro</th>
            <th>Cidade</th>
            <th>CEP</th>
            <th>Estado</th>

            <th>Editar</th>
            <th>Remover</th>
            <th>Empréstimo</th>
          </thead>
          <tbody class="clients-table"></tbody>
          <!-------- BLOCO DE REPETIÇÃO  ------->
          <!-- {% for cliente in clientes_result %}
            <tr>
              <td>{{cliente.nome}}</td>
              <td>{{cliente.telefone_1}}</td>
              <td>{{cliente.rua}}</td>
              <td>{{cliente.numero}}</td>
              <td>{{cliente.bairro}}</td>
              <td>{{cliente.cidade}}</td>
              <td>{{cliente.cep}}</td>
              <td>{{cliente.estado}}</td>
              <td>
                <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#myModal" onclick="return editMethod('{{cliente.codigo_cliente}}')">Editar</button>
              </td>
              <td>
                <button type="button" class="btn btn-danger btn-lg" onclick="return removeMethod('{{cliente.codigo_cliente}}')">Remover</button>
              </td>

              <td>
                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#borrowingModalCreate" onclick="return linkId('{{cliente.codigo_cliente}}')">Novo Empréstimo</button>
                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#borrowingModalShow" onclick="return getBorrows('{{cliente.codigo_cliente}}')">Ver Empréstimos</button>
              </td>
            </tr>
          {% endfor %} -->
        <!------------------------------------>
      </table> 
    </div>
  
    <!-- Modal Edit -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" onclick="return closeReload()">&times;</button>
            <h4 class="modal-title">Editar Cliente</h4>
          </div>
          <div class="modal-body">
            <div class="register-container">
                <div class="form-content">

                  <h3>Dados Cliente</h3>

                  <label for="client-name">Nome:</label>
                  <input type="text" name="nome" id="client-name" required />
        
                  <label for="client-phone">Telefone 1:</label>
                  <input
                    type="tel"
                    id="client-phone"
                    name="telefone_1"
                    placeholder="ex.: 9876-4567"
                    pattern="[0-9]{4}-[0-9]{4}"
                    required
                  />
        
                  <label for="client-cpf">CPF:</label>
                  <input type="text" name="cpf" id="client-cpf" />
        
                  <label for="client-cnpj">CNPJ:</label>
                  <input type="text" name="cnpj" id="client-cnpj" />

                  <h3>Dados Endereço</h3>

                  <label for="client-rua">Rua:</label>
                  <input type="text" name="rua" id="client-rua" />
        
                  <label for="client-numero">Número:</label>
                  <input type="number" name="numero" id="client-numero" />
        
                  <label for="client-bairro">Bairro:</label>
                  <input type="text" name="bairro" id="client-bairro" />
        
                  <label for="client-cidade">Cidade:</label>
                  <input type="text" name="cidade" id="client-cidade" />
        
                  <label for="client-cep">CEP:</label>
                  <input type="text" name="cep" id="client-cep" />
        
                  <label for="client-estado">Estado:</label>
                  <input type="text" name="estado" id="client-estado" />
                </div>
        
                <button id="submit-button" type="button" onclick="return updateMethod()">Editar</button>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" class="close" onclick="return closeReload()">Fechar</button>
          </div>
        </div>
      </div>
    </div>
  </div>

      <!-- Modal Borrowing -->
      <div class="modal fade" id="borrowingModalShow" role="dialog">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" onclick="return closeReload()">&times;</button>
              <h4 class="modal-title">Ver Empréstimos</h4>
            </div>
            <div class="modal-body">
              <div class="register-container">
                  <div class="form-content">
  
                    <h3>Empréstimos do Cliente</h3>

                    <p id="info"></p>

                  </div>
          
                  <!-- <button style="width: 32%;" id="submit-button" type="button" onclick="return createBorrowing()">Cadastrar empréstimo</button> -->
  
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal" class="close" onclick="return closeReload()">Fechar</button>
            </div>
          </div>
        </div>
      </div>
    </div>

          <!-- Modal Borrowing -->
          <div class="modal fade" id="borrowingModalCreate" role="dialog">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" onclick="return closeReload()">&times;</button>
                  <h4 class="modal-title">Novo Empréstimo</h4>
                </div>
                <div class="modal-body">
                  <div class="register-container">
                      <div class="form-content">
      
                        <h3>Cadastro Empréstimo</h3>
    
                        <label for="borrow-data_emprestimo">Data do empréstimo:</label>
                        <input type="date" name="data_emprestimo" id="borrow-data_emprestimo" required />
              
                        <label for="borrow-data_devolucao">Data do Devolução:</label>
                        <input type="date" name="data_devolucao" id="borrow-data_devolucao" required />
    
                        <label for="borrow-codigos_livros">Código do Livro:</label>
                        <input type="number" name="codigos_livros" id="borrow-codigos_livros" required />
                      </div>
              
                      <button style="width: 32%;" id="submit-button" type="button" onclick="return createBorrowing()">Cadastrar empréstimo</button>
      
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal" class="close" onclick="return closeReload()">Fechar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
  </body>

  <script src="js/clientHandleRequest.js"></script>
</html>
