<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IBook</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/register-client.css" />
  </head>
  <body>
    <header>
      <nav id="nav-bar">
        <div id="brand">
          <a href="index.html"><img src="images/book.png" alt="book-image" /></a>
          <h5>IBook</h3>
        </div>
        <ul id="menu">
          <a href="registerClient.html"><li id="actual">Cadastrar Cliente</li></a>
          <a href="listClients.html"><li>Listar Clientes</li></a>
        </ul>
      </nav>
    </header>
    <div class="register-container">
      <form action="client/register" method="POST">
        <div class="form-content">
          <h1>Cadastro Cliente</h1>
          <label for="client-name">Nome:</label>
          <input type="text" name="nome" id="client-name" required />

          <label for="client-phone">Telefone 1:</label>
          <input
            type="tel"
            id="client-phone"
            name="telefone_1"
            placeholder="ex.: 9876-4567"
            pattern="[0-9]{4}-[0-9]{4}"
            required
          />

          <label for="client-cpf">CPF:</label>
          <input type="text" name="cpf" id="client-cpf" />

          <label for="client-cnpj">CNPJ:</label>
          <input type="text" name="cnpj" id="client-cnpj" />
        </div>

        <button type="submit" id="submit-button">Cadastrar cliente</button>
      </form>
    </div>
  </body>
</html>
