<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IBook</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/register-client.css" />

  </head>
  <body>
    <header>
      <nav id="nav-bar">
        <div id="brand">
          <a href="index.html"><img src="images/book.png" alt="book-image" /></a>
          <h5>IBook</h3>
        </div>
        <ul id="menu">
          <a href="registerPublisher.html"><li id="actual">Cadastrar Editora</li></a>
          <a href="listPublishers.html"><li>Listar Editoras</li></a>
        </ul>
      </nav>
    </header>
    <div class="register-container">
      <form action="publisher/register" method="POST">
        <div class="form-content">
          <h1>Cadastro Editora</h1>
          <label for="client-name">Nome:</label>
          <input type="text" name="nome" id="client-name" required />
        </div>

        <button type="submit" id="submit-button">Cadastrar</button>
      </form>
    </div>
  </body>
</html>
